body {
    font-family: 'Inter'; /* Семейство шрифтов */
    font-size: 15px; /* Размер основного шрифта в <p></p>  */
    background-color: #5988FF; /* Цвет фона веб-страницы */
    color: #333333; /* Цвет основного текста */ 
}
/* color-change - название функции, в которой прописана логика анимации */
@keyframes color-change {
    0% {
      color: blue;
    }
  
    50% {
      color: #ffffff;
    }
  
    100% {
      color: blue;
    }
}

h1 {
    color: #ffffff; /* Цвет заголовка */
    font-size: 30px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
/*
color-change- название функции, в которой прописана логика анимации
3s - плавность переходов из одного ключевого кадра в другой (в секундах)
infinite - параметр для бесконечной анимации.
*/
h1:hover { 
    animation: color-change 3s infinite;  /* подключаем анимацию, */
}


h2 {
    color: #ffffff; /* Цвет заголовка */
    font-size: 20px; /* Размер шрифта в пунктах */

}

.black {
    color: #000000; /* Цвет заголовка */
}
.pink {
    color: #FD98FB; /* Цвет заголовка */
}

p {color:#D6FF6B;}

